.Hammer {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    flex-wrap: wrap;

    &_title_decor_lineTop,
    &_title_decor_lineBot {
        width: 70vw !important;
        height: 2px !important;
        background: radial-gradient(#3A65FF, #000000);
    }

    &_title {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        &_decor {
            width: 100vw !important;
            justify-content: start !important;
            rotate: -5deg;
            height: 2px;
        }

        &_decorBot {
            width: 100vw !important;
            justify-content: end !important;
            rotate: -5deg;

            &_img {
                left: -30%;
                top: -20px;

                img {
                    width: 70px;
                    rotate: 15deg;

                    @media(max-width: 400px) {
                        width: 40px;
                    }
                }
            }
        }

        &_text {
            padding: 50px 0px;

            &_content {
                padding: 10px;
                font-family: 'Bigger';
                font-size: 200px;
                color: #2C5AFF;

                line-height: 128px;
                padding-top: 40px;

                @media(max-width: 850px) {
                    font-size: 120px;
                    line-height: 68px;
                    padding-top: 30px;
                }

                @media(max-width: 400px) {
                    font-size: 70px;
                    line-height: 48px;
                    padding-top: 20px;
                }
                &_text{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: 900;
                    font-size: 24px;
                    padding-top: 40px;
                }
            }
        }
    }

    &_content {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 100px;
        gap: 20px;
        flex-wrap: wrap;
        @media(max-width: 500px){
            align-items: center;
            gap: 10px;
        }
    }

    &_description {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: start;
        padding: 20px;
        gap: 20px;
        @media(max-width: 500px){
            flex-direction: column;
            align-items: start;
        }

        &_left,
        &_right {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: left;
            font-size: 16px;
            font-family: 'Fixel';
            max-width: 590px;
            font-weight: 600;
            flex-wrap: wrap;
            @media(max-width: 500px){
                width: 100%;
                text-align: center;
            }
        }
        &_right{
            justify-content: start !important;
            ul{
                width: 100%;
                display: flex;
                justify-content: start;
                align-items: start;
                flex-wrap: wrap;
                li{
                    width: 100%;
                    display: flex;
                    @media(max-width: 500px){
                        
                        justify-content: center;
                    }
                }
            }
        }
    }


    &_decor {
        width: 100vw !important;

        &_blue {
            width: 100vw !important;
            justify-content: space-between !important;
            z-index: -1;

            &_sec {
                rotate: 180deg;
                width: 200px;
            }
        }
    }
}