.AboutUs {
    width: 100%;
    padding-top: 100px !important;
    // max-width: 1400px;
    display: flex;
    justify-content: center;
    // align-items: stretch;
    align-items: center;
    height: 700px;
    position: relative;
    z-index: 99999;
    left: -300px;

    @media(max-width: 1200px) {
        left: -100px;
    }

    @media(max-width: 950px) {
        flex-wrap: wrap;
        height: auto;
        left: 0px;
        padding: 0px 18px;
    }

    &_content {
        // width: 50%;
        width: 550px;
        display: flex;
        // justify-content: start;
        gap: 32px;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;

        @media(max-width: 850px) {
            width: 100%;
            justify-content: center;
            padding: 0px 10px;
        }

        &_decor {
            width: 100% !important;

            &_plus {
                left: -30%;
                top: 170px;

                img {
                    width: 10px;
                }
            }

            &_plusBot1 {
                left: -40%;
                top: -20px;
            }

            &_plusBot2 {
                left: 30%;
                top: -100px;

                img {
                    width: 10px;
                    rotate: 45deg;
                }
            }
        }


        &_title {
            font-weight: 900;
            font-size: 120px;
            font-family: 'Modak';
            color: #2C5AFF;

            @media(max-width: 1425px) {
                font-size: 60px;
            }

            @media(max-width: 850px) {
                width: 100%;
                text-align: center;
            }
        }

        &_text {
            display: flex;
            justify-content: start;
            gap: 32px;
            flex-wrap: wrap;
            max-width: 600px;

            @media(max-width: 850px) {
                width: 100%;
                justify-content: center;
            }

            &_el {
                font-family: 'Fixel';
                font-weight: 600;
                font-size: 16px;
                // max-width: 500px;
                width: 100%;

                @media(max-width: 850px) {
                    width: 100%;
                    text-align: center;
                }

                &_2 {
                    max-width: 400px !important;
                }
            }
        }

        &_btn {
            width: 100%;
            justify-content: start;
            align-items: center;

            @media(max-width: 850px) {
                justify-content: center;
            }

            &_el {
                display: flex;
                justify-content: start;
                align-items: center;

                @media(max-width: 850px) {
                    justify-content: center;
                }
            }
        }
    }

    &_img {
        // width: 50%;
        display: flex;
        justify-content: left !important;

        @media(max-width: 950px) {
            height: 500px !important;
            width: 100% !important;
            justify-content: center !important;
            align-items: start !important;
        }

        img {
            width: 900px;

            @media(max-width: 950px) {
                width: 600px;
            }

            @media(max-width: 550px) {
                position: relative;
                left: 100px;
            }
        }

        &_decor {
            width: 100% !important;
            justify-content: end !important;

            &_sharkimg1 {
                top: -450px;
                left: -50px;
                z-index: -1;

                img {
                    width: 72px;
                }
            }

            // &_sharkimg2{
            //     top: -330px;
            //     left: -40%;
            //     z-index: -1;
            //     img{
            //         width: 72px;
            //         rotate: -15deg;
            //     }
            // }
            // &_sharkimg3{
            //     top: -650px;
            //     left: -41%;
            //     z-index: -1;
            //     img{
            //         width: 72px;
            //         rotate: -10deg;
            //     }
            // }

            &_star {
                // top: 300px;
                z-index: 999999;
                right: 75%;

                img {
                    width: 10px;
                }
            }
        }
    }
}