.LinkWithBorder {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-weight: 900;
    text-transform: uppercase;
    cursor: pointer;
    flex-wrap: wrap;
    align-content: space-between;
    // font-family: 'Bigger';
    // color: white;
    // background-color: red;

    transition: scale 300ms;
    will-change: scale; //!!!важно

    &_gray{
        opacity: 0.5;
    }
    &:hover {
        scale: 1.1;

        .LinkWithBorder_content {
            scale: 0.95;
        }
    }

    &_decor_top {
        width: 100% !important;
        justify-content: space-between !important;
        img{
            width: 7px;
        }
        &_right {
            img {
                rotate: 90deg;
            }
        }
    }

    &_content {
        transition: scale 300ms;
        will-change: scale; //!!!важно
        padding: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-family: 'Bigger';
        font-size: 16px;
        
        &_text {
            padding: 9px 18px;
        }

        &_logo {
            width: 60px;
        }

        &_SCROLL {
            padding-bottom: 6px;
        }
    }

    &_decor_bottom {
        width: 100% !important;
        justify-content: space-between !important;

        &_left {
            img {
                rotate: -90deg;
            }
        }

        &_right {
            img {
                rotate: 180deg;
            }
        }
    }
}