.HammerEl {
    width: calc(100% / 4 - 20px);
    font-family: 'Bigger';
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    font-size: 42px;
    min-width: 200px;
    max-width: 290px;
    cursor: pointer;

    @media(max-width: 660px) {
        font-size: 24px;
        gap: 10px;
    }

    img {
        width: 100%;
    }

    &_btn {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}