.Tokenomics {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &_title {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Bigger';
        color: #2C5AFF;
        font-size: 200px;

        @media(max-width: 800px) {
            font-size: 100px;
        }

        @media(max-width: 440px) {
            font-size: 50px;
        }
    }

    &_content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px;
        width: 100%;
        // background: #fff2;
    }
}