@font-face {
    font-family: 'Modak';
    src: url('/fonts/Modakdisplay.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fixel';
    src: url('/fonts/FixelText-SemiBold.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Modak';
    src: url('/fonts/ModakRegular.ttf');
    font-weight: normal;
    font-style: normal;
}

// ModakRegular.ttf