@font-face {
    font-family: 'Bigger';
    src: url('/fonts/BiggerDisplay.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fixel';
    src: url('/fonts/FixelText-SemiBold.otf');
    font-weight: normal;
    font-style: normal;
}